[submodule "modules/common/dotfiles/.dotfiles"]
	path = modules/common/home/.dotfiles
	url = git@github.com:computercam/_unixconf_dotfiles.git
[submodule "_"]
	path = _
	url = https://gitea.cameron.computer/cameron/_.git
